body, html {
    margin: 0;
    padding: 0;
}

body{
    background-color: #4bab502b;
}

article {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -20px;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 71%;
    background: none;
    margin-top: 110px;
}

.card {
    width: calc(33.33% - 5%);
    margin: 2.5%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 300px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.basket-link {
    position: fixed;
    bottom: 6%;
    right: 3%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.basket-icon {
    width: 50px;
    height: 40px;
    padding-bottom: 10px;
    padding-right: 9px;
}

.basket-count {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-link::after {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: gray; 
    border-radius: 50%;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.basket-link:hover::after {
    background-color: green; 
}

.basket-link img {
    display: block;
    margin: auto;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: green;
}

.hidden {
    display: none;
}

.filter-container.hidden {
    display: none;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.292);
    z-index: 1;
    
}

.filter-button {
    margin: 15px;
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
}

.filter-button.selected {
    color: green;
}

.cart-modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    overflow: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cart-modal-content {
    width: 100%;
    height: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #f9f9f9; 
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 650px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-direction: column; 
    width: 400px;
    margin: 10px 16px;
}

.dish-card {
    position: relative;
    margin-bottom: 5px; 
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 300px;
}

.img-container {
    width: 100%;
    height: 100%; 
}

.dish-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 26px;
}

.description-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    font-size: 20px;
    text-align: left;
    display: none; 
    transition: opacity 0.3s ease; 
}

.dish-card:hover .description-overlay {
    display: block; 
}

.add-to-cart-button {
    width: 100%;
    padding: 15px 16px;
    border: none;
    cursor: pointer;
    background-color: green;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    position: relative; 
}

.add-to-cart-button:hover {
    background-color: darkgreen;
}

.add-to-cart-button::before {
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: green;
    font-size: 24px; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.add-to-cart-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid green;
    border-radius: 5px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.add-to-cart-button.clicked::before {
    opacity: 1;
}

.add-to-cart-button.clicked::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

.add-to-cart-button.clicked {
    background-color: white;
    border: 2px solid green;
}

.price {
    font-size: 14px;
    color: #999;
}

.basket-items {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

.basket-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.basket-item img {
    width: 120px;
    height: 90px;
    margin-right: 10px;
    border-radius: 10px;
}

.item-name {
    flex-grow: 1;
    font-size: 18px;
}

.basket-item .item-name {
    font-weight: bold;
}

.basket-item .quantity-control {
    display: flex;
    align-items: center;
}

.basket-item .price-per-item,
.basket-item .total-price {
    grid-column: span 2;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.quantity-counter {
    display: flex;
    align-items: center;
}

.quantity-counter button {
    background-color: #f0f0f0; 
    border: none;
    color: #333; 
    font-size: 18px;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 3px; 
    margin: 0 5px;
}

.price-info {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 18px;
}

.total-price {
    font-weight: bold;
    font-size: 20px;
}

.clear-basket-button {
    width: 100%;
    padding: 10px;
    background-color: #f44336; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px; 
    transition: background-color 0.3s ease; 
}

.clear-basket-button:hover {
    background-color: #d32f2f; 
}

.checkout-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #45a049;
}

.fade-out {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .card {
        width: calc(50% - 10%);
        margin: 5%;
    }

    .overlay {
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 0px;
        text-align: center;
        font-size: 15px;
    }
}

footer {
    background-color: green;
    color: white;
    padding: 20px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info, .social-links {
    flex: 1;
    text-align: center;
}

.social-links a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: lightgray;
}
